* {
    font-family: 'Roboto', sans-serif;
    color: black;
    scroll-behavior: smooth;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(4px);
    background-color: gray;
    border-bottom: 1px solid #333;
}
.navbar-container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.nav-left {
    display: flex;
}
.logo {
    border-radius: 50%;
    margin: 0 1rem;
}

.nav-name {
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}

.nav-items-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.nav-items {
    margin: 1rem;
    list-style-type: none;
}

.nav-items-link {
    text-decoration: none;
}

.nav-items-link:hover {
    color: #3b82f6;
}

@media only screen and (min-width:400px) and (max-width:767px){
    body{
        background-color:red;
    }
.services{
    display: flex;
    flex-direction: column;
    justify-content:center !important;
}

}


@media only screen and (min-width:768px) and (max-width:992px){
    body{
        background-color:blue;
    }
    .title{
        color: white;
        display: none;
    }
}

.hero-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.hero-image,
.resume-image,
.certificate-logo,
.project-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.hero-left,
.hero-right {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}

.hero-container {
    text-align: right;
    padding-left: 1rem;
}

.description {
    /* padding: 0 1rem; */
    font-size: 1rem;
    /* line-height: 2rem; */
    text-align: center;
}

.badges{
    display: flex;
    justify-content: center;
}
/* .service-container{
    margin-top: 30px;
} */
.service-title{
    margin-top: 30px;
    font-size: 50px;
    text-align:center;
}
.service-para{
    display: flex;
    justify-content: center;
}
/* .service-card{
    width: 300px;
    height:430px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 7px;
    text-align:center;
    margin-top: 50px;
} */


.service-container {
    display: grid; /* Change to grid */
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 columns */
    gap: 2rem; /* Space between items */
    margin-top: 3rem;
}

.service-card {
    
    /* box-shadow: 4px 4px 8px gray; */
    border-radius: 7px;
    text-align: center;
    
    /* width: 300px; */
    /* height: 430px; */
}

.hiring-container,.consultation-container {
    display: flex;
    /* justify-content: center; */
}
.footer{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    background-color: gray;
    color: white;
    padding: 1rem;
    border-top: 1px solid #333;
}
.header{
    display: flex;
}
.intro-head{
    color: rgb(214, 119, 24)
}
.learn-para{
    text-align: center;
    font-size: 20px;
}
.learn-head{
    text-align: center;}

.learn-container{
    display: flex;
    /* justify-content: center; */
}
/* .office{
    text-align: center;
} */
